{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Test/TestCase.php"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "logs": {
        "text": "infection.build.log"
    },
    "mutators": {
        "@default": true
    }
}
