{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ]
    },
    "phpUnit": {
        "configDir": "."
    },
    "logs": {
        "text": "build/infection"
    },
    "mutators": {
        "@default": true
    }
}
